

＃プログラムとプラグインのバイナリ
* .exe
* .exe〜
* .dll
* .so
* .dylib

＃ ` gotest-c`で構築されたテストバイナリ
* .test

＃特にLiteIDEで使用した場合のgoカバレッジツールの出力
* .out

＃依存関係ディレクトリ（以下のコメントを削除して含めます）
＃ベンダー/

＃アーティファクトを構築する
awsh
awsh.zip
